/* RESET PRESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

body{
  background-color: #F6F8F9;;
}

header{
  padding: 10px;
  background-color: white;
}

header span{
  font-size: 60px;
  font-weight: bold;
}

main{
  margin: 5px;
  padding-bottom: 30px;
}

section{
  padding: 15px 30px;
}

h1{
  display: inline-block;
}

h3{
  display: inline;
}

.section{
  background-color: white;
  margin: 10px;
  border-radius: 10px;
}

.section span{
  margin: 10px;
  display: inline-block;
}

.button-nav{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-weight: 800;
}

.circle{
  border-radius: 50%;
  text-align: center;
  padding: 2px 7px;
}

.button{
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
}

.verde{
  color: #6AB8A1;
border: 2px solid #6AB8A1;
}

.red{
  color:  red;
border: 2px solid red;
}

#task{
  color: white;
  background-color: #55A6EC;
  border: 2px solid #55A6EC;
}

#sec{
  color: #C6CBCF;
border: 2px solid #C6CBCF;
}

#editor{
  background-color: #55A6EC;
  border: 2px solid #55A6EC;
}

#goals{
  background-color: #906CDE;
  border: 2px solid #906CDE;
}

#reclutin{
  background-color: #6AB8A1;
  border: 2px solid #6AB8A1;
}
#mobile{
  background-color: #E79539;
  border: 2px solid #E79539;
}
#website{
  background-color: #C95D98;;
  border: 2px solid #C95D98;;
}
#sales{
  background-color: #AAC132;
  border: 2px solid #AAC132;
}