/* RESET PRESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #FFFFFF;
  padding: 10px;
}

body{
  background-color: #F6F8F9;
}
.container{
  width: 70%;
  margin: 0 auto;
}

#header-top{
  font-size: 50px;
  font-weight: bold;
  vertical-align: middle;
}