/* RESET PRESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #F6F8F9;
}

header{
  background-color: #FFFFFF;
  padding: 10px;
}

main{
  margin: 40px;
}

section{
  margin: 5px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

h3{
  display: inline;
  padding-left: 10px;
}

.container{
  width: 80%;
  margin: 0 auto;
}

#head{
  font-size: 50px;
  font-weight: bold;
  vertical-align: middle;
}

.stage{
  padding-top: 40px;
  padding-bottom: 10px;
}

#first{
  color: white;
  background-color: #55A6EC;
}

#second{
  color: #C6CBCF;
  background-color: #FFFFFF;
  border: 2px solid #C6CBCF;
}

#editor{
  background-color: #55A6EC;
}

#q1-goals{
  background-color: #906CDE;
}

#recruting{
  background-color: #6AB8A1;
}

#mobile{
  background-color: #E79539;
}

#website{
  background-color: #C95D98;
}

#sales{
  background-color: #AAC132;
}

.form{
  padding: 8px;
  margin: 5px;
  font-weight: 600;
  border-radius: 5px;
}

.box{
  padding: 25px;
  border-radius: 10px;
}

.box h1{
  display: inline-block;
}

.fake-button{
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
}

.circle{
  width: 10px;
  height: 10px;
  font-weight: bold;
  vertical-align: middle;
  border-radius: 50%;
  padding: 4px;
}

.space{
  padding: 15px 0;
}

#green{
  color: #6AB8A1;
  border: 1px solid #6AB8A1;
}

#red{
  color: red;
  border: 1px solid red;
}